{block content}
	
	<h1>{$actuality->getTitle()}</h1>
	
	{$actuality->getDate()->format('d.m.Y')}
	
	{if $actuality->getDefaultPhoto()}
		<img src="{$basePath}{$actuality->getDefaultPhoto()->getPath()|thumbnail:'system'}" />
	{/if}
	
	{!$actuality->getText()}
	
	{foreach $actuality->getPhotos() as $photo}
		<a href="{$basePath}{$photo->getPath()|thumbnail:'news'}" data-lightbox="gallery">
			<img src="{$basePath}{$photo->getPath()|thumbnail:'system'}" />
		</a>
	{/foreach}
	
{/block}